.menu {
  @extend .list;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__item {
    @extend .list__item;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}